<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
  <nav>
    <a href="/recipes/new">
     <button>Add recipes</button></a>
  </nav>
    <h1>Lists of Recipes</h1>
    <ul>
        <% recipes.forEach(recipes =>{ %>
        <li>
          <a href="/recipes/<%=recipes._id%>">
              <%=recipes.name %></a>
              <%=recipes.img %></a>
              <!-- img tag -->
              <form action="/recipes/<%= recipes._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
              <a href="/recipes/<%= recipes._id %> ">Edit</a>
        </li>
        <% }) %>
      </ul>
</body>
</html>