<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <nav>
        <a href="/recipes">
            <button>Back</button>
        </a>
    </nav>
    <h2><%=recipes.name %> </h2>
    <img src=<%=recipes.img %>> <br>
    <%=recipes.description %> <br>
    <h3>INGREDIENTS</h3><%=recipes.ingredients %> <br>
    <h3>INSTRUCTIONS</h3><%=recipes.instructions %> <br>
    <form action="/recipes/<%= recipes._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    
      <a href="/recipes/<%= recipes._id %>/edit ">
        <button>Edit</button></a>
</body>
</html>